<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main})}"
      xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container mt-5">
        <a th:href="@{/create-employee}" class="btn btn-success my-4">NewEmployee</a>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Employees</h4>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Email</th>
                            <th>PhoneNumber</th>
                            <th>HiredDate</th>
                            <th>Salary</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="emp : ${employees}">
                            <td th:text="${emp.id}"></td>
                            <td th:text="${emp.firstName}"></td>
                            <td th:text="${emp.lastName}"></td>
                            <td th:text="${emp.email}"></td>
                            <td th:text="${emp.phoneNumber}"></td>
                            <td th:text="${emp.hiredDate}"></td>
                            <td th:text="${emp.salary}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>