<!DOCTYPE html>
<html  lang="en" th:fragment="layout(content)"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script src="../../static/bootstrap/js/bootstrap.min.js"
            th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-danger text-white p-1">
    <a href="" class="navbar-brand">TodoItem</a>
</nav>
<div th:replace="${content}"></div>
</body>
</html>